---
import Layout from "./_layout.astro";
import { store } from "./_store";
import { TopInfo, BottomInfo, TimeLabel } from "./_widgets";
---

<Layout>
  <div id="wrap">
    <div id="top">
      <!-- <TopInfo client:only /> -->
    </div>
    <div id="center">
      <div id="main"></div>
      <div id="side">
        <div id="comments">
          {
            /* 
              <iframe
                id="comments"
                title="comments"
                src="https://chat.laplace.live/obs/24371027?baseFontSize=18&colorScheme=light&customAvatarApi=&eventGuardUsernameColor0=&eventGuardUsernameColor1=&eventGuardUsernameColor2=&eventGuardUsernameColor3=&eventMessageColor=&showAvatar=false&showEmote=true&showEnterEvent=true&showEnterEventCurrentGuardOnly=true&showFollowEvent=true&showGiftFree=true&showGiftHighlightAbove=29.99&showGiftPriceAbove=1&showGiftStickyAbove=29.99&showGiftStickyAlways=false&showMedal=false&showMedalLightenedOnly=true&showModBadge=true&showOnlyCurrentMedal=false&showPhoneNotVerified=false&showStickyBar=true&showSystemMessage=true&showUserLevelAbove=0&showUserLvl=false&showUsername=true&showWealthMedal=false&sortStickyBarByPrice=false"
              ></iframe> */
          }
        </div>
      </div>
    </div>
    <div id="bottom">
      <div id="time">
        <TimeLabel client:only />
      </div>
      <div id="bottom-info">
        <BottomInfo client:only />
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  #wrap {
  }

  #top {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    font-size: 24px;
  }

  #center {
    display: flex;
    height: 990px;
  }

  #main {
    background-color: transparent;
    width: 1760px;
    height: 100%;
    flex-shrink: 0;
  }

  #side {
    flex-grow: 1;
    height: 100%;
  }

  #comments {
    flex-grow: 1;
    height: 50%;
    margin-bottom: 20px;
  }

  #bottom {
    display: flex;
    gap: 20px;
    height: 50px;
    font-size: 32px;
  }

  #time {
    flex-shrink: 0;
    width: 180px;
    height: 100%;
    line-height: 50px;
    text-align: center;
  }

  #bottom-info {
    flex-grow: 1;
    height: 100%;
  }
  #bottom-info .marquee-item::after {
    content: "／";
    display: inline-block;
    padding: 0 10px;
  }

  #scene[data-style="shade"] .box {
    box-shadow: 8px 8px #20202014;
  }

  .carousel-content {
    position: absolute;
  }
  .carousel-content-enter {
    animation: 0.5s ease forwards carousel-enter;
  }
  .carousel-content-leave {
    animation: 0.5s ease forwards carousel-leave;
  }

  @keyframes carousel-enter {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes carousel-leave {
    to {
      transform: translateY(-100%);
    }
  }
</style>
