---
import Layout from "./_layout.astro";
import { TopInfo, BottomInfo, TimeLabel } from "./_widgets";
---

<Layout>
  <div id="wrap">
    <div id="top" class="box">
      <TopInfo client:only />
    </div>
    <div id="center">
      <div id="main" class="box"></div>
      <div id="side">
        <div id="comments" class="box"></div>
        <div id="streamer" class="box"></div>
      </div>
    </div>
    <div id="bottom">
      <div id="time" class="box"><TimeLabel client:only /></div>
      <div id="bottom-info" class="box">
        <BottomInfo client:only />
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  #wrap {
    padding: 20px;
  }

  #top {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    font-size: 24px;
    line-height: 50px;
  }

  #center {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    height: 900px;
  }

  #main {
    width: 1600px;
    height: 100%;
    flex-shrink: 0;
  }

  #side {
    flex-grow: 1;
    height: 100%;
  }

  #comments {
    flex-grow: 1;
    height: 50%;
    margin-bottom: 20px;
  }

  #streamer {
    flex-grow: 1;
    height: calc(50% - 20px);
  }

  #bottom {
    display: flex;
    gap: 20px;
    height: 50px;
    font-size: 32px;
    font-weight: 600;
  }

  #time {
    flex-shrink: 0;
    width: 180px;
    height: 100%;
    line-height: 50px;
    text-align: center;
  }

  #bottom-info {
    flex-grow: 1;
    height: 100%;
  }
  #bottom-info .marquee-item::after {
    content: "／";
    display: inline-block;
    padding: 0 10px;
  }

  .box {
    background: var(--content-bg);
  }
  #scene[data-style="shade"] .box {
    box-shadow: 8px 8px #20202014;
  }

  .carousel-content {
    position: absolute;
  }
  .carousel-content-enter {
    animation: 0.5s ease forwards carousel-enter;
  }
  .carousel-content-leave {
    animation: 0.5s ease forwards carousel-leave;
  }

  @keyframes carousel-enter {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes carousel-leave {
    to {
      transform: translateY(-100%);
    }
  }
</style>
